 <% events.each do |event| %>
        <% start_date = event.start_date.to_date %>
        <% end_date = event.end_date.to_date %>
        <% start_included = date_range.include?(start_date) %>
        <% end_included = date_range.include?(end_date) %>
        <% resizable_class = event.all_day ? 'resizable' : '' %>
        <% event_data = 'data-id=' + event.id.to_s + ' data-all-day=' + event.all_day.to_s + ' data-start-date=' +
                    event.start_date.to_datetime.to_s + ' data-end-date=' + event.end_date.to_datetime.to_s  %>
        <tr>
          <% if date_range.to_a.include?(start_date) %>
              <% (start_date.cwday - 1).times do %>
                  <td></td>
              <% end %>
          <% end %>

          <!--Если начало и конец на одной неделе-->
          <% if start_included && end_included %>
              <% colpan =  end_date.cwday - start_date.cwday + 1 %>
                <!--Для длительных событый которые занимают всю неделю+ -->
          <% elsif key.include?(date_range.first) && key.include?(date_range.last) %>
              <% colpan =  7 %>
              <% resizable_class = ''%>
                <!--Если только начало на этой неделе-->
          <% elsif start_included %>
              <% max = 8 - start_date.cwday %>
              <% current = (end_date - start_date).to_i %>
              <% colpan = current > max ? max : current %>
              <% resizable_class = ''%>
                <!--Если только конец на этой неделе-->
          <% elsif end_included %>
              <% colpan = end_date.cwday %>
          <% end %>
          <td colspan="<%= colpan %>">
            <div <%= event_data %> class="event week_event ">
              <%= event.title %>
              <% if !resizable_class.blank? %>
                  <div style="float: right" class="<%= resizable_class %>">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </div>
              <% end %>
            </div>
          </td>

          <% if end_included%>
              <% (7 - end_date.cwday).times do %>
                  <td></td>
              <% end %>
          <% end %>
        </tr>
 <% end %>
