.date-title {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.content-container {
  position: absolute;
  left: 0;
  right: 0;
}

.calendar-head {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;

  .left-panel {
    float: left;
  }

  .right-panel {
    float: right;
  }

  div {
    display: inline-block;
  }
}

table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;

}

td {
  padding: 0 !important;
  text-align: center;
  border: 1px solid grey;
  border-top: none;
  width: 110px;
}

.hours {
  width: 50px;
}

.day {
  width: 110px;
}

.droppable_table{
  .date {
    text-align: center;
    border: 1px solid grey;
    background: rgba(133, 255, 179, 0.66);
  }
}

.table {
  min-width: 822px;
  &.event_hour_table {
    background: transparent;
    margin-bottom: 0;
    border-bottom: none;
  }

  .week_table_row {
    .hours {
      width: 52px;
    }

    td {
      width: inherit;
    }
  }

  &.week_table, &.day_table {
    margin-bottom: 0;
    margin-top: 0;

    .week-event-content, .day-event-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;

      table {
        height: 100%;
      }
    }

    th {
      border: 1px solid grey !important;
    }
  }

  .event {
    min-width: 50px;
    height: 20px;
    color: #ffffff;
    background: #18758c;
    border-radius: 5px;
    text-align: left;
    margin: 1px 0 1px 0;
    z-index: 2;

    &.hour-event{
      margin: 0;
    }
  }

  thead {

    .current_day {
      text-align: center;
    }

  }


  .event-content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 110px;
    height: 100%;
    // скролл и фиксированная ширина чтобы скролл выехал за таблицу
    &.scrollable {
      overflow-y: scroll;
      width: calc(100% + 15px);
    }

    th {
      padding: 0 2px;
      text-align: right;
      border-top: none;
      border-bottom: 1px solid black;
      z-index: 1;
      background: rgba(133, 255, 179, 0.66);
    }

    td {
      height: 10px;
      border-top: none;
      border-bottom: none;
    }

  }

  .today {
    background: rgba(79, 197, 255, 0.66);
  }

  .prev-month {
    background: #DDD;
  }

  .next-month {
    background: #DDD;
  }

}

.table-header {
  border-top: 1px solid grey;
}

.day_table {
  .hours {
    width: 52px;
  }

  td {
    width: inherit;
  }
}

.all_day_row {
  position: relative;
  z-index: 5;

  .all_day_table {
    border-bottom: 5px solid #8d8d8d;

    .hours {
      width: 52px;
    }

    td {
      width: inherit;
    }

    .all_day_scrollable {
      height: 120px;
      overflow-y: auto;
      overflow-x: hidden;

      td{
        border: none;
      }
    }
  }
}

.day-scrollable{
  position: relative;
  height: 450px;
  margin-bottom: 20px;
  width: calc(100% + 15px);
  overflow-y: auto;
}

.diary{
  width: 100%;
  max-width: 822px;
}

.day-time{
  z-index: 100;
  position: absolute;
}

.month_table_row{
  td {
    height: 110px;
  }
}

.week_table_row, .day_table_row {
  td {
    height: 50px;
  }
}

.modal-content{
  width: 400px;
  margin: 0 auto;
  margin-top: 30%;
}

.actions{
  margin-top: 20px;
}